<footer class="footer">
    <div class="footer-container">
        <div class="footer-left">
            <h3>DjangoApp</h3>
            <p>Internship 2026</p>
        </div>

        <div class="footer-center">
            <a href="{% url 'employee:employeeList' %}">Home</a>
            <a href="{% url 'employee:createEmployeeWithForm' %}">Create Employee</a>
            <a href="{% url 'employee:employeeFilter' %}">Filter</a>
            <a href="{% url 'employee:createCourse' %}">Create Course</a>
        </div>

        <div class="footer-right">
            <p>© 2026 DjangoApp</p>
            <span>All rights reserved.</span>
        </div>
    </div>
</footer>
