<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Employee List</h1>
    <table>
        <tr>
            <th>Employee Name</th>
            <th>Employee Age</th>
            <th>Employee City</th>
            <th>Employee Email</th> 
            <th>Employee Post</th>
            <th>Employee Join Date</th>
            <th>Employee Salary</th>
            <th>Employee Id</th>
        </tr>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.name }}</td>
            <td>{{ employee.age }}</td>
            <td>{{ employee.city }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.post }}</td>
            <td>{{ employee.join_date }}</td>
            <td>{{ employee.salary }}</td>
            <td>{{ employee.id }}</td>

        </tr>
        {% endfor %}
    </table>
</body>
</html>