{% extends 'base.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Update Employee</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <button class="btn-primary" type="submit">Submit</button>
    </form>
    <a href="{% url 'employee:employeeList' %}" class="back-link">
            ← Back to Employee List
        </a>
</body>
</html>
{% endblock content %}